html {
  font-size: 16px;
  font-family: fantasy;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}

body {
  background-color: black;
}
.container-fluid{
    width: 800px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding-bottom: 15px;
    padding-top: 15px;

}
/*-------titleArea-------*/
.titleArea{
    background-color: white;
    width: 100%;
    margin-bottom: 15px;
}
#title{
    border-bottom: 1px solid black;
}
/*end titleArea*/



/*-------imgBox--------*/
#imgBox{
    background-size: cover;
}
#canvas{
    display: none;
}

/*end imgBox*/


/*------score----------*/
#score-container {
    display: block;
    /*width: 30%;*/
}

#caught {
    background-color: red;
}
#timer {
    background-color: blue;
    color: white;
}
#touches {
    background-color: green;
}
#lives {
    font-size: x-large;
}
#continueBtn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*end score*/

/*------gameOver----------*/
#gameOver {
    display: none;
    background-color: white;
    padding: 5px;
}

/*end score*/
